<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/img/ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Edhita</title>


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Content/assets3/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/assets3/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/Content/assets3/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <link href="~/Content/bootstrap2.css" rel="stylesheet" />
</head>
<body class="g-sidenav-show  bg-gray-100 mt-0">
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/assets3/js/core/popper.min.js"></script>
    <script src="~/Content/assets3/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets3/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/Content/assets3/js/plugins/chartjs.min.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/Content/assets3/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>
</html>